body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.main {
    display: flex;
    height: auto;
    width: 400px;
    border-radius: 6px;
    border: 3px solid black;
    padding: 10px;
}

.main legend {
    text-align: center;
    font-size: x large;
    margin-bottom: 0.5rem;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
main label {
    margin: 0.2rem;
}

.main input  {
    border: 1px solid black;
    margin: 0.4rem;
    border-radius: 3px;
    width: inherit;
}